<dialog id="optionsDialog">
  <form id="optionsForm" method="dialog">
    <!-- label for="numBotsInput">
      Number of Bots

      <div class="btn-group" data-toggle="buttons" role="group">
        <label role="button" class="btn btn-primary">
          <input type="radio" name="numBots" id="option1" value="0">
          None
        </label>
        <label role="button" class="btn btn-primary">
          <input type="radio" name="numBots" id="option2" value="1">
          1
        </label>
        <label role="button" class="btn btn-primary">
          <input type="radio" name="numBots" id="option2" value="1">
          2
        </label>
        <label role="button" class="btn btn-primary">
          <input type="radio" name="numBots" id="option3" value="4" checked>
          4
        </label>
        <label role="button" class="btn btn-primary">
          <input type="radio" name="numBots" id="option3" value="8">
          8
        </label>
      </div>
    </label -->

    <label for="fowInput">
      Fog of War
      <input name="fow" type="checkbox" role="switch" checked />
    </label>

    <label for="numSystemsInput">
      Bubble Size
      <input name="numSystems" min="0" max="4" step="1" type="range" list="steplist">
      <datalist id="steplist">
        <option value="48">Tiny</option>
        <option value="96"></option>
        <option value="192">Med</option>
        <option value="384"></option>
        <option value="768">Large</option>
      </datalist>
    </label>

    <p />&nbsp;
    <p />
    <button id="optionsOkButton">OK</button>
    <button id="optionsCancelButton" type="reset">Reset</button>
  </form>
</dialog>