:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --unoccupied: #808080;
  --inhabited: #808080;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  padding: 5px 10px;
  cursor: pointer;
}

#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#infobox {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  font-size: 14px;
  font-weight: bold;
}

#leaderbox {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  font-size: 14px;
  font-weight: bold;

  th,
  td {
    padding: 3px 5px;
    text-align: center;
    color: var(--owner-color, var(--unoccupied));
  }

  tr.eliminated td {
    text-decoration: line-through;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
  }
}

#messagebox {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 80%;
  text-align: center;

  small {
    font-size: 12px;
    color: #999;
  }
}

svg {
  transform-box: fill-box;

  svg #graticule,
  svg #outline {
    pointer-events: none;
  }

  #systems {
    &.reduced-size {
      .system-icon {
        font-size: 8px;
      }

      .ship-count {
        display: none;
      }

      .system-outline {
        /* opacity: 0; */
        fill-opacity: 0;
        r: 6;
        stroke-width: 1;
      }
    }
  }

  .system {
    will-change: fill, fill-opacity;

    cursor: pointer;
    user-select: none;

    text {
      fill: white;
      font-size: 12px;
    }

    .ship-count {
      text-anchor: start;
      pointer-events: none;
      user-select: none;
      transform: translate(10px, 0);
    }

    .system-icon {
      fill-opacity: 0.8;
      fill: var(--owner-color, var(--unoccupied));
      stroke-width: 0.5;
      stroke: white;
      stroke-opacity: 0.3;
      text-anchor: middle;
      dominant-baseline: middle;
      transform: translate(0px, 0.3px);
    }

    .system-outline {
      stroke: var(--owner-color, var(--unoccupied));
      fill: black;
      /* fill-opacity: 0; */
      stroke-opacity: 0;
      stroke-width: 2;
      transition: stroke-width 0.25s ease-in-out, stroke-opacity 0.25s ease-in-out;
    }

    .system-marker {
      fill: var(--owner-color, var(--unoccupied));
      stroke: white;
      stroke-opacity: 0.5;
      stroke-width: 0.5;
      r: 3;
      transition: stroke-width 0.25s ease-in-out, stroke-opacity 0.25s ease-in-out;
    }

    &.visited .system-outline {
      fill-opacity: 0.8;
      stroke-opacity: 0.0;
    }

    &.moved {
      .system-outline {
        stroke-width: 2;
      }

      .system-outline {
        stroke-opacity: 0.5;
      }
    }

    &.selected {
      .system-outline {
        stroke-width: 3;
      }

      .system-outline {
        stroke-opacity: 1 !important;
      }
    }

    &.revealed {
      display: inline;
    }

    &.inhabited .system-marker {
      r: 5;
    }

    &.homeworld {
      .system-icon {
        stroke: var(--owner-color, var(--unoccupied));
        stroke-opacity: 1;
        fill-opacity: 1;
        fill: var(--owner-color, var(--unoccupied));
        transform: translate(0px, 1.5px) scale(1.4);
      }
    }

    &[data-player="1"]:hover {
      .system-outline {
        stroke: var(--player-1);
        stroke-width: 3;
        stroke-opacity: 0.6;
      }
    }
  }

  .lane {
    will-change: stroke, stroke-opacity, path;

    fill: none;
    stroke: var(--owner-color, var(--unoccupied));
    stroke-width: 2;
    stroke-opacity: 0.3;
    cursor: pointer;

    &:hover {
      stroke-width: 9;
    }
  }

  .pulse {
    will-change: stroke, stroke-opacity, path;
    transform-box: fill-box;

    fill: none;
    stroke: var(--owner-color, var(--unoccupied));
    stroke-width: 2 !important;
    stroke-opacity: 0;
    stroke-dasharray: 5 calc(var(--path-length, 200) * 0.1);
    stroke-dasharray: 5 30;
    stroke-linecap: round;
    
    &.moved {
      animation: drawPath 2s linear infinite forwards;
      stroke-opacity: 1;
    }

    &.moved--fwd {
      animation-direction: forwards;
    }

    &.moved--bak {
      animation-direction: reverse;
    }

    &.moved--fwd &.moved--bak {
      animation: none;
    }
  }

  #graticule path {
    stroke-opacity: 0.2;
  }

  .region {
    fill: var(--owner-color, transparent);
    fill-opacity: 0.3;
    stroke: var(--owner-color, transparent);
    stroke-width: 4;
    stroke-opacity: 0;

    &[data-player="null"] {
      fill: transparent;
      stroke: transparent;
    }
  }
}

.hidden {
  display: none;
}

#helpButton {
  position: absolute;
  bottom: 20px;
  right: 15px;
  z-index: 10;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

dialog {
  z-index: 100;
  margin: 10vh auto;
  width: 70vw;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;

  ul {
    list-style-type: none;
  }
}

#optionsDialog {
  margin: 9vh auto;
  width: 71vw;
  height: 80vh;

  label {
    display: block;
    margin: 10px 0 5px 0;
  }

  input {
    width: 160px;
    margin: 0 10px 20px 10px;
    height: 25px;
  }
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
}

@keyframes drawPath {
  from {
    stroke-dashoffset: var(--path-length, 200); /* Initial offset, same as dasharray's first value */
  }
  to {
    stroke-dashoffset: 0; /* Fully revealed */
  }
}