:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  --pico-form-element-spacing-vertical: 0.05rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --unoccupied: #808080;
  --inhabited: #808080;
}

#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#tickBox,
#infobox {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  font-size: 14px;
  font-weight: bold;
}

#leaderbox {
  position: absolute;
  width: 300px;
  top: 10px;
  right: 10px;
  z-index: 10;
  font-size: 14px;
  font-weight: bold;

  th,
  td {
    padding: 3px 5px;
    text-align: center;
    color: var(--owner-color, var(--unoccupied));
    background-color: rgb(19 22 30 / 34%);
  }

  tr.eliminated td {
    text-decoration: line-through;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
  }
}

#messagebox {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 80%;
  text-align: center;

  small {
    font-size: 12px;
    color: #999;
  }
}

svg {
  transform-box: fill-box;

  svg #graticule,
  svg #outline {
    pointer-events: none;
  }

  #systems {
    &.reduced-size {
      .system-icon {
        font-size: 8px;
      }

      .ship-count {
        display: none;
      }

      .system-outline {
        /* opacity: 0; */
        fill-opacity: 0;
        r: 6;
        stroke-width: 1;
      }
    }
  }

  .system {
    will-change: fill, fill-opacity;
    user-select: none;

    cursor: pointer; /* TODO: only if own or neighboring */

    text {
      fill: white;
      font-size: 12px;
    }

    .ship-count {
      text-anchor: start;
      pointer-events: none;
      user-select: none;
      transform: translate(10px, 0);
    }

    .system-icon {
      fill-opacity: 0.8;
      fill: var(--owner-color, var(--unoccupied));
      stroke-width: 0.5;
      stroke: white;
      stroke-opacity: 0.3;
      text-anchor: middle;
      dominant-baseline: middle;
      transform: translate(0px, 0.3px);
    }

    .system-outline {
      stroke: var(--owner-color, var(--unoccupied));
      fill: black;
      /* fill-opacity: 0; */
      stroke-opacity: 0;
      stroke-width: 2;
      transition: stroke-width 0.25s ease-in-out, stroke-opacity 0.25s ease-in-out;
    }

    .system-marker {
      fill: var(--owner-color, var(--unoccupied));
      stroke: white;
      stroke-opacity: 0.5;
      stroke-width: 0.5;
      r: 3;
      transition: stroke-width 0.25s ease-in-out, stroke-opacity 0.25s ease-in-out;
    }

    &.visited .system-outline {
      fill-opacity: 0.8;
      stroke-opacity: 0.0;
    }

    &:not(.visited) .system-icon {
      fill-opacity: 0;
    }

    &.moved {
      .system-outline {
        stroke-width: 2;
      }

      .system-outline {
        stroke-opacity: 0.5;
      }
    }

    &.selected {
      .system-outline {
        stroke-width: 3;
      }

      .system-outline {
        stroke-opacity: 1 !important;
      }
    }

    &.inhabited .system-marker {
      r: 5;
    }

    &.homeworld {
      .system-icon {
        stroke: var(--owner-color, var(--unoccupied));
        fill: var(--owner-color, var(--unoccupied));
        transform: translate(0px, 1.5px) scale(1.4);
      }
    }

    &.own {
      &:hover {
        .system-outline {
          stroke-width: 3;
          stroke-opacity: 0.6;
        }
      }
    }
  }

  .lane {
    will-change: stroke, stroke-opacity, path;

    fill: none;
    stroke: var(--owner-color, var(--unoccupied));
    stroke-width: 2;
    stroke-opacity: 0.3;
    
    &.own {
      cursor: pointer;
      
      &:hover {
        stroke-width: 9;
      }
    }
  }

  .pulse {
    will-change: stroke, stroke-opacity, path;
    transform-box: fill-box;

    fill: none;
    stroke: var(--owner-color, var(--unoccupied));
    stroke-width: 2 !important;
    stroke-opacity: 0;
    stroke-dasharray: 5 calc(var(--path-length, 200) * 0.1);
    stroke-dasharray: 5 30;
    stroke-linecap: round;
    
    &.moved {
      animation: drawPath 2s linear infinite forwards;
      stroke-opacity: 1;
    }

    &.moved--fwd {
      animation-direction: forwards;
    }

    &.moved--bak {
      animation-direction: reverse;
    }

    &.moved--fwd &.moved--bak {
      animation: none;
    }
  }

  #graticule path {
    stroke-opacity: 0.2;
  }

  #mesh {
    .region {
      fill: var(--owner-color, transparent);
      fill-opacity: 1;
      stroke: var(--owner-color, transparent);
      stroke-width: 4;
      stroke-opacity: 0.5;
      filter: blur(5px) opacity(50%);
  
      &[data-player="null"] {
        fill: transparent;
        stroke: transparent;
      }

      /* &:not(.visited) {
        fill-opacity: 0.5;
        stroke-opacity: 0;
      } */
    }

    &.reduced-size .region {
      stroke-opacity: 0.15;
      fill-opacity: 1;
      filter: blur(1px) opacity(50%);
    }
  }
}

.hidden {
  display: none;
}

#startDialog article {
  text-align: center;
}

#helpDialog article {
  font-size: smaller;
  text-align: center;

  ul, li {
    list-style-type: none;
    padding: 0;
  }
}

#helpButton {
  position: absolute;
  bottom: 20px;
  right: 15px;
  z-index: 10;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#optionsDialog {
  margin: 9vh auto;
  width: 71vw;
  height: 80vh;
  text-align: center;
  align-items: flex-start;

  label {
    margin-top: 25px;
  }

  [type=range]:has(+ datalist) {
    margin-bottom: 0;
  }

  datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 100%;

    option {
      transform: rotate(-45deg);
      padding: 0;
      margin: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#endDialog {
  flex-direction: column;
}

@keyframes drawPath {
  from {
    stroke-dashoffset: var(--path-length, 200); /* Initial offset, same as dasharray's first value */
  }
  to {
    stroke-dashoffset: 0; /* Fully revealed */
  }
}

[role="button"]:has([type="radio"]) {
  input {
    display: none;
  }
}

[role="button"]:has([type="radio"]:checked) {
  --pico-background-color: var(--pico-primary-hover-background);
  --pico-border-color: var(--pico-primary-hover-border);
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  --pico-color: var(--pico-primary-inverse);
}

#startDialog {
  article {
    margin: auto;
    position: relative;
    width: 80%;
  }

  .lore {
    margin: auto; text-align: left; font-size: small;
  }
  .version {
    position: absolute; top: 10px; right: 10px; font-size: small;
  }
  #playerNameInput {
    width: 300px;
    text-align: center;
  }
}